/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$text-color: #5A6370;
$link-color: #D1D3D7;
$bg-color: #6F7A86;
$column1-header-color: #1775D5;
$menu-border-color: #D7D7D7;
$sbi-header-color: #484E56;


/* Mixins for re-use */
@mixin menu-layout {
  background: #FFFFFF image-url('menu.png');
  color: $link-color;
  border-color: $menu-border-color;
}

body {
  background: $bg-color;
  color: $text-color;
}

#main {
  background: white image-url("back.png") repeat-y;
  color: $text-color;
}

#links, #footer {
  @include menu_layout;
  color: $link-color;
  a {
    background: transparent;
    color: $link-color;
  }
}

#logo {
  background: #FFFFFF image-url("logo.jpg") no-repeat;
  color: white;
}

#menu {
  @include menu-layout;
  li {
    a {
      @include menu-layout;
      /* TODO: Add #selected with javascript */
      &:hover {
        background: #FFFFFF image-url('menu_hover.png');
        color: #484E56;
      }
    }
  }
} 

#column1 {
  h1 {
    background: transparent;
    color: $column1-header-color;
    border-color: #89A9C7;
  }
  
  a {
    background: transparent;
    color: $text-color;
  }
}

.sbitem {
  color: $link-color;
  a {
    background: transparent;
    color: $link-color;
  }
}

.sbihead {
  background: #FFFFFF image-url('sbi_header.png');
  color: $sbi-header-color;

  h1 {
    background: transparent;
    color: $sbi-header-color;
  }
}

.sbilinks {
  li {
    a {
      background: #FFFFFF url(link.png);
      color: $link-color;

      &:hover {
        background: #B7B7B7;
        color: #1775D5;
      }
    }
  }
}

/* form and input area */
input, textarea
{ background: #FFFFFF;
  color: #5A6370;
  border-color: #89A9C7;
}

/* Errors and messsages */
.error-input {
  padding: 1em;
  border: 1px solid red;
}
