/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "colors";

/* Default font */
$font-family: verdana, arial, sans-serif;

/* Mixins */
@mixin auto-margin {
  margin: {
    left: auto; 
    right: auto;
  }
}

/* Basic */
html {
  height: 100%;
}

body { 
  padding: 0px;
  margin: 0px;
  font: {
    size: .68em;
    family: $font-family;
  } 
}

a { outline: none; }

/* Main sections */
#main {
  @include auto-margin;
  max-width: 780px;
  width: 80%;
}


#links, #footer  { 
  @include auto-margin;

  a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
    &:visited { color: $link-color }
  }

  padding: 10px 21px 0px 19px;
  width: 720px;
  height: 26px;
  font-size: 94%;
  text-transform: uppercase;
  text-align: right;

  #footer {
    text-align: center;
  }
}

#wrapper { 
  @include auto-margin;
  width: 760px;
  height: auto;
  padding: 0px;
  overflow: hidden;
} 

#wrapper {
  @include auto-margin;
  width: 760px;
  height: auto;
  padding: 0px;
  overflow: hidden;
} 

#logo{
  @include auto-margin;
  width: 760px;
  height: 100px;
  text-align: left;
}

#menu {
  @include auto-margin;
  height: 42px;
  width: 760px;

  ul {
    margin: 0px auto;
  }

  li {
    float: left; 
    margin: 0px; 
    padding: 0px;
  }

  a {
    display: block; 
    float: left; 
    height: 37px;
    text-decoration: none; 
    padding: 3px 19px 2px 19px;
    text-transform: uppercase;
  }
}





